* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: sans-serif;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.headerCls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 100;
  background: #ffffff;
  box-shadow: 0 0.1rem 0.5rem rgba(51, 51, 51, 0.5);
}
.headerCls a {
  font-size: 2rem;
  text-decoration: none;
  color: #333;
}
.headerCls .icon-wrap .logo {
  margin-right: 2rem;
}
.headerCls .fa-bars,
.headerCls .fa-times {
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  display: none;
}
.headerCls .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.headerCls .navbar ul li {
  margin: 0 1.5rem;
}
.headerCls .navbar ul li a:hover {
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid #5287cc;
}

.home {
  background: url(../images/backgroundImg2.jpeg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.home img {
  display: none;
}
.home h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
}
.home h1 {
  font-size: 4rem;
  margin: 2rem 0;
  text-shadow: 0.1rem 0.1rem 0.3rem #fff;
  font-weight: 700;
  color: #333;
}
.home h1 span {
  color: #5287cc;
  margin: 0;
}
.home button {
  height: 4rem;
  width: 16rem;
  background: #333;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  text-transform: capitalize;
  box-shadow: 0 0.2rem 0.1rem rgba(51, 51, 51, 0.3);
}
.home button:hover {
  border: 1px solid transparent;
}

.about {
  padding-bottom: 3rem;
}
.about .heading {
  font-size: 3rem;
  text-align: center;
  color: #333;
  margin: 3rem 0;
  padding-top: 6rem;
  position: relative;
}
.about .heading::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.3rem;
  width: 15rem;
  background: #333;
}
.about .info {
  padding: 0 2rem;
}
.about .info h2 {
  font-size: 3rem;
  color: #5287cc;
}
.about .info p {
  font-size: 1.7rem;
  color: #333;
  padding-bottom: 3rem;
}

.skills {
  padding-bottom: 3rem;
}
.skills .heading {
  font-size: 3rem;
  text-align: center;
  color: #333;
  margin: 3rem 0;
  padding-top: 6rem;
  position: relative;
}
.skills .heading::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.3rem;
  width: 15rem;
  background: #333;
}
.skills .skill-bar h3 {
  margin-top: 2rem;
}
.skills .skill-bar h3 span {
  display: block;
  text-align: end;
}
.skills .skill-bar .bar {
  width: 100%;
  height: 0.5rem;
  background: #ccc;
  position: relative;
}
.skills .skill-bar .bar span {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: #5287cc;
}
.skills .skill-bar .bar1 span {
  width: 95%;
}
.skills .skill-bar .bar2 span {
  width: 75%;
}
.skills .skill-bar .bar3 span {
  width: 70%;
}
.skills .skill-bar .bar4 span {
  width: 50%;
}
.skills .skill-bar .bar5 span {
  width: 45%;
}

.experience {
  min-height: 100vh;
  background: #333;
}
.experience a {
  color: #99bdff;
}
.experience .heading {
  font-size: 3rem;
  text-align: center;
  color: #333;
  margin: 3rem 0;
  padding-top: 6rem;
  position: relative;
  color: #fff;
}
.experience .heading::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.3rem;
  width: 15rem;
  background: #333;
}
.experience .heading::after {
  background: #fff;
}
.experience .box {
  width: 100%;
  padding: 2rem 2rem 2rem 2.5rem;
  margin-left: 2rem;
  border-left: 0.1rem solid #fff;
  position: relative;
}
.experience .box::after {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  background: #fff;
  border-radius: 5rem;
}
.experience .box .year {
  color: #fff;
  font-size: 1.8rem;
}
.experience .box h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #5287cc;
  margin: 1rem 0;
}
.experience .box p {
  color: #ccc;
  font-size: 2rem;
}

.projects {
  min-height: 100vh;
}
.projects .heading {
  font-size: 3rem;
  text-align: center;
  color: #333;
  margin: 3rem 0;
  padding-top: 6rem;
  position: relative;
}
.projects .heading::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.3rem;
  width: 15rem;
  background: #333;
}
.projects .controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.projects .controls .buttons {
  height: 4rem;
  width: 15rem;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 4rem;
  font-size: 1.7rem;
  cursor: pointer;
  margin: 1rem;
}
.projects .controls .buttons:hover {
  background: #5287cc;
  box-shadow: 0 0.5rem 0.5rem rgba(51, 51, 51, 0.3);
}
.projects .controls .active {
  background: #5287cc;
  box-shadow: 0 0.5rem 0.5rem rgba(51, 51, 51, 0.3);
}
.projects .images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
.projects .images .filter-image {
  height: 18rem;
  width: 25rem;
  border-radius: 0.5rem;
  margin: 2rem;
  object-fit: cover;
}
.projects .images .project-box a {
  color: #333;
  font-size: 1.5rem;
}
.projects .images .project-box .project-links {
  display: flex;
  justify-content: space-evenly;
}

.contact {
  min-height: 90vh;
}
.contact .heading {
  font-size: 3rem;
  text-align: center;
  color: #333;
  margin: 3rem 0;
  padding-top: 6rem;
  position: relative;
}
.contact .heading::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.3rem;
  width: 15rem;
  background: #333;
}
.contact .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .inputBox {
  padding: 0 1rem;
  margin-top: 2rem;
}
.contact .inputBox .name,
.contact .inputBox .email,
.contact .inputBox textarea {
  height: 3rem;
  width: 100%;
  background: #e7e7e7;
  border: none;
  outline: none;
  padding: 2rem;
  margin: 1.5rem 0;
  font-size: 1.8rem;
}
.contact .inputBox .name {
  width: 45%;
}
.contact .inputBox textarea {
  height: 20rem;
  resize: none;
}
.contact .name-box {
  display: flex;
  justify-content: space-between;
}
.contact input[type=submit] {
  height: 4rem;
  width: 12rem;
  background: #333;
  color: #fff;
  font-size: 1.7rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  outline: none;
  border: none;
}
.contact input[type=submit]:hover {
  background: #5287cc;
  box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.3);
}
.contact .info i {
  font-size: 2rem;
  color: #333;
}
.contact .info i:hover {
  color: #5287cc;
}
.contact .info a {
  text-decoration: none;
}
.contact .info-box {
  margin: 4rem;
}

#footer {
  background: #f9f9f9;
  padding: 1.5rem 0;
  border-top: 0.1rem solid rgba(51, 51, 51, 0.3);
}
#footer h1 {
  color: #333;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bolder;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 1025px) {
  .home {
    background-position: 68% 50%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .headerCls .fa-bars,
.headerCls .fa-times {
    display: block;
  }
  .headerCls .navbar {
    position: fixed;
    top: -120%;
    left: 0;
    height: calc(100vh - 5.2rem);
    width: 100vw;
    background: #fff;
    border-top: 0.1rem solid rgba(51, 51, 51, 0.3);
  }
  .headerCls .navbar ul {
    height: 100%;
    width: 100%;
    flex-flow: column;
    justify-content: center;
  }
  .headerCls .navbar ul li {
    margin: 1.5rem 0;
  }
  .headerCls .navbar ul li a {
    font-size: 2.5rem;
  }
  .headerCls .nav-toggle {
    top: 5.2rem !important;
  }

  .home {
    background: none;
  }
  .home .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home .intro img {
    display: block;
    margin: 3rem;
    padding-top: 1rem;
    border-radius: 100px;
    box-shadow: 0 0.1rem 0.5rem rgba(51, 51, 51, 0.5);
  }
}

/*# sourceMappingURL=output.css.map */
