$blue: rgb(82, 135, 204);

@mixin heading() {
  font-size: 3rem;
  text-align: center;
  color: #333;
  margin: 3rem 0;
  padding-top: 6rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 0.3rem;
    width: 5rem;
    background: #333;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: sans-serif;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.headerCls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 100;
  background: #ffffff;
  box-shadow: 0 0.1rem 0.5rem rgba(51, 51, 51, 0.5);

  a {
    font-size: 2rem;
    text-decoration: none;
    color: #333;
  }

  .icon-wrap {
    .logo {
      margin-right: 2rem;
    }
  }

  .fa-bars,
  .fa-times {
    font-size: 3rem;
    color: #333;
    cursor: pointer;
    display: none;
  }

  .navbar {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 1.5rem;

        a {
          &:hover {
            padding-bottom: 0.3rem;
            border-bottom: 0.2rem solid $blue;
          }
        }
      }
    }
  }
}

// home section
.home {
  background: url(../images/backgroundImg2.jpeg) no-repeat;
  background-attachment: fixed;
  background-size: cover;

  img {
    display: none;
  }

  h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
  }

  h1 {
    font-size: 4rem;
    margin: 2rem 0;
    text-shadow: 0.1rem 0.1rem 0.3rem #fff;
    font-weight: 700;
    color: #333;

    span {
      color: $blue;
      margin: 0;
    }
  }

  button {
    height: 4rem;
    width: 16rem;
    background: #333;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: 0 0.2rem 0.1rem rgba(51, 51, 51, 0.3);

    &:hover {
      border: 1px solid transparent;
    }
  }
}

// about section
.about {
  padding-bottom: 3rem;

  .heading {
    @include heading();
  }

  .info {
    padding: 0 2rem;

    h2 {
      font-size: 3rem;
      color: $blue;
    }

    p {
      font-size: 1.7rem;
      color: #333;
      padding-bottom: 3rem;
    }
  }
}

// skills section
.skills {
  padding-bottom: 3rem;

  .heading {
    @include heading();
  }

  .skill-bar {
    h3 {
      margin-top: 2rem;

      span {
        display: block;
        text-align: end;
      }
    }

    .bar {
      width: 100%;
      height: 0.5rem;
      background: #ccc;
      position: relative;

      span {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: $blue;
      }
    }

    .bar1 span {
      width: 95%;
    }
    .bar2 span {
      width: 75%;
    }
    .bar3 span {
      width: 65%;
    }
    .bar4 span {
      width: 50%;
    }
    .bar5 span {
      width: 45%;
    }
  }
}

// Experience section
.experience {
  min-height: 100vh;
  background: #333;

  .heading {
    @include heading();
    color: #fff;

    &::after {
      background: #fff;
    }
  }

  .box {
    width: 100%;
    padding-left: 2.5rem;
    // margin-left: 2rem;
    border-left: 0.1rem solid #fff;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0.5rem;
      left: -1rem;
      height: 2rem;
      width: 2rem;
      background: #fff;
      border-radius: 5rem;
    }

    .year {
      color: #fff;
      font-size: 1.5rem;
    }

    h3 {
      font-size: 2.5rem;
      color: $blue;
      margin: 1rem 0;
    }
    p {
      color: #ccc;
      font-size: 1.5rem;
    }
  }
}

// Projects section
.projects {
  min-height: 100vh;

  .heading {
    @include heading();
  }

  .controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;

    .buttons {
      height: 4rem;
      width: 15rem;
      background: #333;
      color: #fff;
      text-align: center;
      line-height: 4rem;
      font-size: 1.7rem;
      cursor: pointer;
      margin: 1rem;

      &:hover {
        background: $blue;
        box-shadow: 0 0.5rem 0.5rem rgba(51, 51, 51, 0.3);
      }
    }

    .active {
      background: $blue;
      box-shadow: 0 0.5rem 0.5rem rgba(51, 51, 51, 0.3);
    }
  }

  .images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;

    .filter-image {
      height: 18rem;
      width: 25rem;
      border-radius: 0.5rem;
      margin: 2rem;
      object-fit: cover;
    }

    .project-box {
      a {
        color: #333;
        font-size: 1.5rem;
      }
      .project-links {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}

// contact section
.contact {
  min-height: 90vh;
  // border-top: 0.1rem solid rgba(51, 51, 51, 0.3);

  .heading {
    @include heading();
  }

  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inputBox {
    padding: 0 1rem;
    margin-top: 2rem;

    .name,
    .email,
    textarea {
      height: 3rem;
      width: 100%;
      background: rgb(231, 231, 231);
      border: none;
      outline: none;
      padding: 2rem;
      margin: 1.5rem 0;
      font-size: 1.8rem;
    }

    .name {
      width: 45%;
    }

    textarea {
      height: 20rem;
      resize: none;
    }
  }

  .name-box {
    display: flex;
    justify-content: space-between;
  }

  input[type="submit"] {
    height: 4rem;
    width: 12rem;
    background: #333;
    color: #fff;
    font-size: 1.7rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    outline: none;
    border: none;

    &:hover {
      background: $blue;
      box-shadow: 0 0.5rem 1rem rgba(51, 51, 51, 0.3);
    }
  }

  .info {
    i {
      font-size: 2rem;
      color: #333;

      &:hover {
        color: $blue;
      }
    }

    a {
      text-decoration: none;
    }
  }
  .info-box {
    margin: 4rem;
  }
}

#footer {
  background: #f9f9f9;
  padding: 1.5rem 0;
  border-top: 0.1rem solid rgba(51, 51, 51, 0.3);

  h1 {
    color: #333;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bolder;
    margin-bottom: 0;
    letter-spacing: 0.1rem;
  }
}

// Media Queries
@media only screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .home {
  }

  .headerCls {
    .fa-bars,
    .fa-times {
      display: block;
    }

    .navbar {
      position: fixed;
      top: -120%;
      left: 0;
      height: calc(100vh - 5.2rem);
      width: 100vw;
      background: #fff;
      border-top: 0.1rem solid rgba(51, 51, 51, 0.3);

      ul {
        height: 100%;
        width: 100%;
        flex-flow: column;
        justify-content: center;

        li {
          margin: 1.5rem 0;

          a {
            font-size: 2.5rem;
          }
        }
      }
    }

    .nav-toggle {
      top: 5.2rem !important;
    }
  }

  // .home {
  //   // background-position-x: 52%;
  // }
}

@media only screen and (max-width: 499px) {
  .home {
    background: none;

    .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        display: block;
        margin: 3rem;
        padding-top: 1rem;
        border-radius: 100px;
        box-shadow: 0 0.1rem 0.5rem rgba(51, 51, 51, 0.5);
      }
    }
  }
}
